.banner{
    position: relative;
    z-index: 1;
    padding-top: 90px;
    padding-bottom: 65px;
    @include mmd{
        padding-top: 180px;
        padding-bottom: 90px;
    }
    @include sm{
        padding-top: 150px;
        padding-bottom: 70px;
    }
    .heroBg img{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    &-content{
        h1{
            margin-bottom: 25px;
        }
        p{
            @include font-20;
            margin-bottom: 38px;
        }
    }
}

