.copytoclipboard{
    position: relative;
    border-radius: 19.987px;
    border: 0.999px solid #000;
    background: #FEFEB5;
    box-shadow: 1.999px 3.997px 0px 0px #0E0E00;
    padding: 20px 16.622px 20px 22.378px;
    padding-bottom: 18px;
    color: $black;
    font-family: $font_FormulaCondensedLight;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    letter-spacing: 2px;
    max-width: 567px;
    overflow: hidden;
    @include mmd{
        margin-inline:auto
    }
    strong{
        font-weight: 700;
    }
    @include sm{
        font-size: 18px;
    }
    p{
        max-width: 90%;
        font-size: 25px;
        text-align: start;
        z-index: -1;
        margin-left: 0;
        overflow: hidden;
        margin-left: 0;
        margin-bottom: 0;
    }
    button{
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);
        border: 0;
        background: transparent;
        padding: 0;   
        font-size: 28px;
    }

}
