.marquee {
    position: relative;
    overflow-x: hidden;
}
.marquee.top {
    position: absolute;
    top: 0;
    left: 0;
}

.marquee.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}
.rfm-child img {
    @include sm{
        max-width: 45px;
    }
}