.services{
    padding-top: 90px;
    padding-bottom: 90px;
    position: relative;
    z-index: 1;
    @include mmd{
        padding-top: 40px;
        padding-bottom: 80px;
    }
    &::before{
        @include potion_left;
        content: "";
        border-radius: 305px;
        width: 305px;
        height: 210px;
        background: #37BCE6;
        filter: blur(257px);
        top: 50%;
        transform: translateY(-50%);
        z-index: -1;
    }
    .section-title{
        margin-bottom: 50px;
        display: inline-block;
        @include mmd{
            margin-bottom: 30px;
        }
        p{
            max-width: 650px;
            margin-inline: auto;
            @include mmd{
                max-width: 100%;
                padding:0 20%;
            }
            @include sm{
                padding:0 5%;
            }
        }
    }
    &-wrapper{
        .services-single-item{
            margin-top: 95px;
            @include mmd{
                margin-top: 70px;
            }
        }
        .single-item{
            position: relative;
            z-index: 1;
            padding: 105px 30px 45px;
            display: inline-block;
            height: 100%;
            border: 1px solid transparent;
            border-radius: 30px;
            @include transition;
            .serviceItemBG{
                @include postion_shap_middle;
            }
            @include sm{
                margin-inline: 10%;
            }
            @include ssm{
                margin-inline: 0%;
            }
            .icon{
                position: absolute;
                z-index: 1;
                width: 130px;
                height: 130px;
                display: flex;
                align-items: center;
                justify-content: center;
                left: 50%;
                top: -65px;
                transition: all .5s ease-in-out;
                margin-left: -65px;
                @include sm{
                    width: 100px;
                    height: 100px;
                    top: -45px
                }
                .iconShap{
                    @include postion_shap_middle;
                }
                img{
                    max-width: 70px;
                    width: auto;
                    @include sm{
                        max-width: 50px;
                    }
                }
            }
            h3{
                color: $heading;
                font-weight: 600;
                line-height: 135%;
                margin-bottom: 12px;
                display: inline-block;
            }
            &:hover{
                border: 1px solid $primary;
                border-radius: 30px;
            }
            &:hover .icon{
                transform: scaleX(-1);
            }
        }
    }

    .boxed-btn{
        margin-top: 60px;
    }
}